.capabilites_card{
    max-width: 285px;
    height: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;


    img{
        height: 130px;
        width: 50%;
        object-fit:contain;
    }
    h2{
        margin: 15px 0px;
    }
    p{
        text-align: center;
    }
}