.capabilities{
   
    .section{
        background-color: #0E0C38;
        padding-bottom: 267px;
    }
    .card_wrapper{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-top: 176px;
        flex-wrap: wrap;
    }
}